@media (max-width:1030px){
    .dropdown{
        display: inline-block;
    }
    .dropdown_btn:hover + .dropdown_items{
        display: block;
    }
    .dropdown_items{
        display: none;
        position: absolute;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .dropdown_list_item{
        margin-top: 10px;
        width: 100%;
    }
    .dropdown_list_btn{
        padding: 10px;
        background-color: transparent;
        border: none;
        background-image: linear-gradient(to right top, #2400FF, #0066FF);
        border-radius: 85px;
    }
    .nav_list{
        display: none;
    }
    .nav_logo{
        display: none;
    }
}